In [17]:
! pip install pandas==2.1.0

Requirement already satisfied: pandas==2.1.0 in c:\programdata\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.1.0) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.1.0) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.1.0) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.1.0) (1.26.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.1.0) (1.16.0)

In [18]:
import pandas as pd

In [28]:
vastused_df = pd.read_csv('toores tagasiside moodleist/LTAT.03.002-Kolmanda loengu tagasiside-vastused.csv')

In [29]:
# eraldame numbri vastusest
vastused_df['Vastus 3'] = vastused_df['Vastus 3'].str.extract('(\d)').astype('Int64')
vastused_df['Vastus 6'] = vastused_df['Vastus 6'].str.extract('(\d)').astype('Int64')

In [30]:
vastused_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Perenimi    208 non-null    object
 1   Eesnimi     208 non-null    object
 2   Staatus     208 non-null    object
 3   Alustatud   208 non-null    object
 4   LÃµpetatud   208 non-null    object
 5   Aega kulus  208 non-null    object
 6   Hinne/2.00  208 non-null    object
 7   Tagasiside  6 non-null      object
 8   Vastus 1    208 non-null    object
 9   Vastus 2    208 non-null    object
 10  Vastus 3    204 non-null    Int64
 11  Vastus 4    208 non-null    object
 12  Vastus 5    208 non-null    object
 13  Vastus 6    204 non-null    Int64
dtypes: Int64(2), object(12)
memory usage: 23.3+ KB

In [22]:
esimene_osa_df = vastused_df[['Eesnimi', 'Vastus 2', 'Vastus 3']]
teine_osa_df = vastused_df[['Eesnimi', 'Vastus 5', 'Vastus 6']]

In [23]:
tulbad = ['Eesnimi', 'Tagasiside', 'Hinne']
esimene_osa_df.columns = tulbad
teine_osa_df.columns = tulbad

In [24]:
esimene_osa_df.to_excel("neljanda loengu tagasiside 1.xlsx", index = False)
teine_osa_df.to_excel("neljanda loengu tagasiside 2.xlsx", index = False)